---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const pageTitle = "My Articles";
const posts: CollectionEntry<"blog">[] = await getCollection("blog");

const sortedPosts = posts.sort((a, b) => {
  return (
    new Date(b.data.publishedAt).getTime() -
    new Date(a.data.publishedAt).getTime()
  );
});

function formatDate(date: string) {
  return new Date(date).toLocaleDateString("en-US", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
}
---

<MainLayout pageTitle={pageTitle}>
  <div>
    <div>
      <h1
        class="relative w-fit text-preset2 font-extrabold leading-snug tracking-tighter text-neutral-700 after:absolute after:bottom-[10px] after:right-[-45px] after:h-1 after:w-10 after:bg-blue-700 dark:text-neutral-0"
      >
        My Articles
      </h1>

      <p
        class="mt-[6px] text-lg font-normal leading-normal tracking-tighter text-neutral-600 dark:text-neutral-400"
      >
        Below are all my recent blog posts. Click on any title to read the full
        article.
      </p>
    </div>

    <div class="mb-5 mt-6 h-[1px] w-full bg-neutral-200 dark:bg-neutral-700">
    </div>

    <section>
      <ul>
        {
          sortedPosts.map((post, index) => (
            <li>
              <a
                href={`/blog/${post.slug}`}
                class="block rounded-lg focus-visible:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-800"
              >
                <h2 class="text-xl font-semibold leading-snug tracking-tighter text-neutral-700 transition-all duration-300 hover:underline hover:opacity-70 dark:text-neutral-0">
                  {post.data.title}
                </h2>
              </a>
              <p class="mt-2 text-base font-normal italic leading-snug tracking-tight text-neutral-600 dark:text-neutral-400">
                {formatDate(post.data.publishedAt)}
              </p>
              <p class="mt-2 text-base font-normal leading-snug tracking-tight text-neutral-600 dark:text-neutral-400">
                {post.data.description}
              </p>
              {index < posts.length - 1 && (
                <div class="my-5 h-[1px] w-full bg-neutral-200 dark:bg-neutral-700" />
              )}
            </li>
          ))
        }
      </ul>
    </section>

    <div
      class="mt-8 h-[1px] w-full bg-neutral-200 dark:bg-neutral-700 md:mt-12"
    >
    </div>
  </div>
</MainLayout>
